body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #272727;
}

.container {
  width: auto;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #272727;
}

.header .headerKiri {
  width: 90%;
}

.header .headerKiri .logo img {
  display: flex;
  flex-direction: row;
  height: 45px;
  width: 120px;
  margin-left: 73px;

}

.header .headerKanan {
  display: flex;
  flex-direction: row;
  width: 10%;
  align-items: center;
  justify-content: center;
}

.header .avatar img {
  height: 70%;
  width: 70%;
}

.header .lang img {
  width: 28px;
  height: 23px;
}

.header .dropdown img {
  width: 15px;
  height: 11px;
  padding-bottom: 2px;
  padding-left: 2px;
}

.header2 {
  display: flex;
  flex-direction: row;
  background: #272727;
  border-top: white;
  border-bottom: white;
  border-style: solid;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header2 .logo2 img {
  height: 60px;
  width: 160px;
  margin-left: 80px;
  margin-right: 40px;
}

.header2 .navbar {
  display: flex;
  flex-direction: row;
}

a {
  width: 60px;
  text-decoration: none;
  color: whitesmoke;
  text-align: center;
  padding-left: 20px;
}

.home .btnHome {
  cursor: pointer;
  border: none;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 31px;
  font-size: 1vw;
  background-color: #272727;
  color: whitesmoke;
  margin-left: -20px;
  padding-left: 20px;
}

.operators .btnOperators {
  cursor: pointer;
  border: none;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 31px;
  font-size: 1vw;
  background-color: #272727;
  color: whitesmoke;
  margin-left: -20px;
  padding-left: 20px;
}

.preorder .btnPreorder {
  cursor: pointer;
  border: none;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 31px;
  font-size: 1vw;
  background-color: #272727;
  color: whitesmoke;
  margin-left: -20px;
  padding-left: 20px;
}

.navbar .others {
  padding-top: 20px;
  font-size: 1vw;
}

.navbar .other {
  display: flex;
  flex-direction: row;
}

.other .dropdown img {
  width: 15px;
  height: 11px;
  margin-left: 10px;
}

.dropdownnya {
  display: none;
}

.quarantine .btnQuarantine {
  cursor: pointer;
  border: none;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 27px;
  font-size: 1vw;
  background-color: #617be3;
  margin-top: 20px;
  margin-left: -20px;
  padding-left: 20px;
  color: whitesmoke;
}

.maps .btnMaps {
  cursor: pointer;
  border: none;
  padding-right: 77px;
  padding-top: 20px;
  padding-bottom: 27px;
  font-size: 1vw;
  background-color: #617be3;
  color: whitesmoke;
  margin-left: -20px;
  padding-left: 20px;
}

.home .btnHome:hover {
  background-color: #617be3;
}

.operators .btnOperators:hover {
  background-color: #617be3;
}

.preorder .btnPreorder:hover {
  background-color: #617be3;
}

.navbar .others:hover {
  background-color: #617be3;
}

.navbar .others:hover .dropdownnya {
  /* background-color: #617be3; */
  display: flex;
  flex-direction: column;
}

.quarantine .btnQuarantine:hover {
  background-color: #575757;
}

.maps .btnMaps:hover {
  background-color: #575757;
}

.section1 .row1 {
  height: 210px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row1 .recog h1 {
  text-align: center;
  color: whitesmoke;
}

.row1 .recog h3 {
  color: whitesmoke;
  font-weight: 100;
  margin-top: -10px;
}

.section2 {
  height: 1540px;
  width: 100%;
  background-color: black;
}

.satu {
  display: flex;
  height: 250px;
  width: 100%;
  background-color: black;
  justify-content: space-evenly;
}

.satu .map1 {
  width: 29%;
  height: 75%;
  border: 1px solid whitesmoke;
}

.satu .map2 {
  width: 29%;
  height: 75%;
  border: 1px solid whitesmoke;
}

.satu .map3 {
  width: 29%;
  height: 75%;
  border: 1px solid whitesmoke;
}

.dua {
  display: flex;
  height: 250px;
  width: 100%;
  background-color: black;
  justify-content: space-around;
}

.dua .map4 {
  width: 29%;
  height: 75%;
  border: 1px solid whitesmoke;
}

.dua .map5 {
  width: 29%;
  height: 75%;
  border: 1px solid whitesmoke;
}

.dua .map6 {
  width: 29%;
  height: 75%;
}

.textsatu {
  display: flex;
  position: relative;
  bottom: 75px;
}

.textsatu h3 {
  position: absolute;
  color: whitesmoke;
  font-size: 15pt;
  font-weight: 120;
}

.textsatu .a {
  margin-left: 200px;
}

.textsatu .b {
  margin-left: 720px;
}

.textsatu .c {
  margin-left: 1175px;
}

.textdua {
  display: flex;
  position: relative;
  bottom: 75px;
}

.textdua h3 {
  position: absolute;
  color: whitesmoke;
  font-size: 15pt;
  font-weight: 120;
}

.textdua .d {
  margin-left: 200px;
}

.textdua .e {
  margin-left: 720px;
}

.textdua .f {
  margin-left: 1175px;
}

.texttiga {
  display: flex;
  position: relative;
  bottom: 75px;
}

.texttiga h3 {
  position: absolute;
  color: whitesmoke;
  font-size: 15pt;
  font-weight: 120;
}

.texttiga .g {
  margin-left: 200px;
}

.texttiga .h {
  margin-left: 720px;
}

.texttiga .i {
  margin-left: 1175px;
}

.textempat {
  display: flex;
  position: relative;
  bottom: 75px;
}

.textempat h3 {
  position: absolute;
  color: whitesmoke;
  font-size: 15pt;
  font-weight: 120;
}

.textempat .j {
  margin-left: 200px;
}

.textempat .k {
  margin-left: 720px;
}

.textempat .l {
  margin-left: 1175px;
}

.textlima {
  display: flex;
  position: relative;
  bottom: 75px;
}

.textlima h3 {
  position: absolute;
  color: whitesmoke;
  font-size: 15pt;
  font-weight: 120;
}

.textlima .m {
  margin-left: 200px;
}

.textlima .n {
  margin-left: 720px;
}

.textlima .o {
  margin-left: 1175px;
}

.textenam {
  display: flex;
  position: relative;
  bottom: 75px;
}

.textenam h3 {
  position: absolute;
  color: whitesmoke;
  font-size: 15pt;
  font-weight: 120;
}

.textenam .p {
  margin-left: 200px;
}

.textenam .q {
  margin-left: 720px;
}

.textenam .r {
  margin-left: 1175px;
}

.footer {
  display: flex;
  flex-direction: row;
  background-color: #191919;
}

.footerKiri {
  width: 50%;
  margin-right: 1px;
  margin-left: 80px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.footerKanan {
  display: flex;
  flex-direction: row;
  /* align-content: center; */
  align-items: center;
  width: 50%;
  font-size: 0.4vw;
  color: whitesmoke;
  margin-left: 85px;
}

@media screen and (max-width: 800px) {

  .container {
    width: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
  }

  .header {
    display: flex;
    flex-direction: row;
    background-color: #272727;
  }

  .header .headerKiri {
    width: 80%;
  }

  .header .headerKiri .logo img {
    height: 45px;
    width: 120px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 50px;

  }

  .header .headerKanan {
    display: flex;
    flex-direction: row;
    width: 20%;
    align-items: center;
    justify-content: center;
  }

  .header .avatar img {
    height: 90%;
    width: 90%;
  }

  .header .lang img {
    width: 28px;
    height: 23px;
  }

  .header .dropdown img {
    width: 15px;
    height: 11px;
    padding-bottom: 2px;
    padding-left: 2px;
    margin-right: 79px;
  }

  .header2 {
    display: flex;
    flex-direction: row;
    background: #272727;
    border-top: white;
    border-bottom: white;
    border-style: solid;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .header2 .logo2 img {
    height: 60px;
    width: 160px;
    margin-left: 80px;
    margin-right: 40px;
  }

  .header2 .navbar {
    display: flex;
    flex-direction: row;
  }

  a {
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
  }

  .home .btnHome {
    cursor: pointer;
    border: none;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 31px;
    font-size: 2vw;
    background-color: #272727;
    color: whitesmoke;
    margin-left: -20px;
    padding-left: 20px;
  }

  .operators .btnOperators {
    cursor: pointer;
    border: none;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 31px;
    font-size: 2vw;
    background-color: #272727;
    color: whitesmoke;
    margin-left: -20px;
    padding-left: 20px;
  }

  .preorder .btnPreorder {
    cursor: pointer;
    border: none;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 31px;
    font-size: 2vw;
    background-color: #272727;
    color: whitesmoke;
    margin-left: -20px;
    padding-left: 20px;
  }

  .navbar .others {
    padding-top: 20px;
    font-size: 2vw;
  }

  .navbar .other {
    display: flex;
    flex-direction: row;
  }

  .other .dropdown img {
    width: 15px;
    height: 11px;
    margin-left: 10px;
  }

  .dropdownnya {
    display: none;
  }

  .quarantine .btnQuarantine {
    cursor: pointer;
    border: none;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 27px;
    font-size: 2vw;
    background-color: #617be3;
    margin-top: 20px;
    margin-left: -20px;
    padding-left: 20px;
    color: whitesmoke;
  }

  .maps .btnMaps {
    cursor: pointer;
    border: none;
    padding-right: 77px;
    padding-top: 20px;
    padding-bottom: 27px;
    font-size: 2vw;
    background-color: #617be3;
    color: whitesmoke;
    margin-left: -20px;
    padding-left: 20px;
  }

  .home .btnHome:hover {
    background-color: #617be3;
  }

  .operators .btnOperators:hover {
    background-color: #617be3;
  }

  .preorder .btnPreorder:hover {
    background-color: #617be3;
  }

  .navbar .others:hover {
    background-color: #617be3;
  }

  .navbar .others:hover .dropdownnya {
    /* background-color: #617be3; */
    display: flex;
    flex-direction: column;
  }

  .quarantine .btnQuarantine:hover {
    background-color: #575757;
  }

  .maps .btnMaps:hover {
    background-color: #575757;
  }

  .footer {
    display: flex;
    flex-direction: row;
    background-color: #191919;
  }

  .footerKiri {
    width: 50%;
    margin-right: 1px;
    /* margin-left: 80px; */
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .footerKiri img {
    margin-bottom: 10px;
  }

  .footerKanan {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    font-size: 1vw;
    color: whitesmoke;
    margin-left: 85px;
  }
}